.programs .title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  top: -20px;
  left: -20px;
  overflow: hidden;
}
.programs .title::before {
  position: absolute;
  content: "程式技能";
  width: 150%;
  height: 60px;
  background-color: #c9bc99;
  transform: rotate(-40deg)  translateY(-20px);
  line-height: 1.75;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  color: #eee;
  letter-spacing: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.programs .title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #c9bc99;
  z-index: 1;
  box-shadow: 290px -230px #c9bc99;
}
.programs .bar {
  width: 40%;
}
.bar li p{
  padding-left: 50px;
}
.bar .scroll {
  text-align: right;
  padding: 10px;
  margin: 15px 0;
  border-radius: 20px;
}

.html-bar, .py-bar, .c-bar, .java-bar {
  width: 5%;
  background-color: #dacdaa;
  animation: 5s infinite;
}

.html-bar { 
  animation-name: html-bar; 
}
@keyframes html-bar {
  from {
      width: 5%;
  }
  to {
      width: 75%;
  }
}

.py-bar { 
  animation-name: py-bar; 
}
@keyframes py-bar {
  from {
      width: 5%;
  }
  to {
      width: 65%;
  }
}

.c-bar { 
  animation-name: c-bar; 
}
@keyframes c-bar {
  from {
    width: 5%;
  }
  to {
    width: 65%;
  }
}

.java-bar { 
  animation-name: java-bar; 
}
@keyframes java-bar {
  from {
      width: 5%;
  }
  to {
      width: 60%;
  }
}

.programs .text {
  width: 40%;
  margin-top: 20px;
}
.programs .text li {
  text-align: justify;
  padding: 15px 0;
}